<div class="container">
    <div class="row">
        <!--            <button class="btn btn-outline-info" type="button" (click)="loadRoles()">Загрузить роли УСПН</button>-->
        <!--            <a class="btn btn-outline-info" href="/local/uspn">Локальный УСПН</a>-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Загрузить роли УСПН</h5>
                    <p class="card-text">
                        Не трогать!
                    </p>
                    <button class="btn btn-outline-info btn-40" type="button" (click)="loadRoles()">&crarr;</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">УСПН (local)</h5>
                    <p class="card-text">
                        Тестировщикам сюда не ходить. Это для разработчиков.
                    </p>
                    <a href="/local/uspn" class="btn btn-primary btn-40">&crarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">УСПН (DEV)</h5>
                    <p class="card-text">
                        Настроен ли стенде DEV на эмулятор ЕЦАСА смотрите в
                        настройках стенда или уточняйте у разработчиков.
                    </p>
                    <a href="/dev/uspn" class="btn btn-primary btn-40">&crarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">УСПН (QA)</h5>
                    <p class="card-text">
                        Настроен ли стенде DEV на эмулятор ЕЦАСА смотрите в
                        настройках стенда или уточняйте у разработчиков.
                    </p>
                    <a href="/qa/uspn" class="btn btn-primary btn-40">&crarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>